h1{
	font-style: italic;
	text-align: center;
	font-size: 130px;
}
body{
	background-color: rgba(9, 97, 211, 0.383);
	font-family: "Iosevka Charon", monospace;
	font-weight: 300;
	font-style: normal;
}
h2{
	font-style: italic;
	text-align: center;
	font-size: 100px;
}
.button-container {
	display:flex;
	justify-content: center;
	gap: 20px;
}
.menu-btn {
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	letter-spacing: 1px;
}
.Smartphones{
	background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	background: #145762;
}
.Televisions {
	background: #145762;
}
.Computers{
	background: #145762;
}
.Monitors{
	background: #145762;
}
.Tablets{
	background: #145762;
}
.Mice{
	background: #145762;
}
.Headphones{
	background: #145762;
}
.Laptops {
	background: #145762;
}
.Consoles{
	background: #145762;
}
.footer{
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section {
	display: flex;
	gap: 30;
	flex-wrap: wrap;
}

.tech_cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 550px;
	width: 300px;
	border-radius: 10px;
	background-color: rgb(154, 204, 204);
}

.card_image{    
	height: 250px;
    object-fit: contain;
}

.card_information {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card_title {
	font-size: 20px;
	font-weight: bold;
}
.card_description{
	font-size: 16px;
}

.card_price {
	font-size: 25px;
	font-weight: bold;
}
.card_button{
	border-radius: 5px;
	background-color: rgb(22, 80, 82);
	color: #fff;
	padding: 20px 30px;
	width: 250px;
	text-align: center;
}